.logo {
    margin-left: 15px;
    height: 35px;
    width: 42px;
}
.company-name {
    margin-left: 10px;
    letter-spacing: 3px;
    font-size: 22px;
}

.right-align {
    span {
        font-size: 16px;
    }
}