<div class="starting-home">
    <div class="home-body">
        <section class="intro">
            <h2>What do Cream Do</h2>
            Create an understaning Society.
            We live in society where multiple mindsets are in a float. Need to understand 
            the need and mind of each groups like farmers,religious groups,political group,
            NGOs and Critics. We envisiage a  crowd which would bring the changes in the mindset of the people
            who else wise are involved in rat race, instead of a race that would build the
            country.
        </section>
    </div>
    <div class="image-sec">
        <img src="../../../assets/images/create.jpg" alt="dashboard-img">
    </div>
</div>