.modal-footer {
    border-top: none;
}

.vote {
    flex-direction: row-reverse;
    display: flex;
    .vote-text {
        background-color: #1abf1a;
        height: 2em;
        padding-top: 4px;
        max-width: 9em;
        min-width: 8em;
        border-radius: 30px;
        color: white;
        text-align: end;
        padding-right: 10px;
        padding-left: 7px;

        span {
            bottom: 5px;
            position: relative;
        }
    }
}

.name-details {
    position: relative;
    left: 15px;
    bottom: 3px;
    
    span:nth-child(1) {
        font-size: 18px;
        font-weight: 500;
    }
    .date {
        font-size: 13px;
        font-weight: 300;
        bottom: 5px;
        position: relative;
    }
}

.name-avatar-zero {
    background-image: url('../../../../assets/images/winner/winnerMar.jpg');
    background-size: cover;
}

.name-avatar-one {
    background-image: url('../../../../assets/images/winner/winnerFeb.jpg');
    background-size: cover;
}

.name-avatar-two {
    background-image: url('../../../../assets/images/winner/winnerJan.jpg');
    background-size: cover;
}

.name-avatar-three {
    background-image: url('../../../../assets/images/winner/winnerDec.jpg');
    background-size: cover;
}

.name-avatar-four {
    background-image: url('../../../../assets/images/winner/winnerNov.jpg');
    background-size: cover;
}

.btn-txt {
    position: relative;
    bottom: 3px;
}
.cross {
    position: relative;
    top: 3px;
}
