.contact-container {
    background-color: #f1f3f8;
    height: auto;
    margin-top: 20%;
    padding-bottom: 5%;

    .content {
        width: 50%;

        .intro {
            padding-top: 5%;
            line-height: 2.2;
            color: black;

            h1 {
                font-family: Impact, Charcoal, sans-serif;
                color: #352961;
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: 4px;
                padding-bottom: 3%;
                padding-left: 32%;  
            }
        }
    }

    .contact-body {
        display: flex;

        .contact-form {
            width: 50%;
            padding-left: 16%;

            .header-text {
                width: 60%;
                padding-bottom: 10%;
            }

            .btn-sec {
                margin-top: 10%;

                .prime-btn {
                    background-color: #352961;
                    width: 37%;
                    height: 3.5rem;
                    color: white;
                    font-size: 14px;
                    letter-spacing: 2px;
                }
            }
            
        }

        .contact-image {
            background-image: url('../../../assets/images/contact-us-image.jpg');
            margin-left: 10%;
            width: 30%;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
}