<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h4>Swagat Mishra</h4>
            <h5>swagat.m2011@gmail.com</h5>
        </div>
        <img src="../../assets/images/winner/winnerNov.jpg" alt="">
    </div>

    <mat-divider></mat-divider>

    <!-- <h2 matSubheader>Menu</h2> -->

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/" (click)="toggleSlideBar()">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/threads" (click)="toggleSlideBar()">Thread</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/" (click)="toggleSlideBar()">Members</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/" (click)="toggleSlideBar()">Trainings</a>

</mat-nav-list>