.staring-home {
    color: azure;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.8em;
    display: flex;
    // background-color: rgba(73, 154, 224, 0.9);
    background-color: rgba(10,43,72,.9);
    // background-color: #99ccff;
    position: fixed;
    width: 100%;
    z-index: 1;

    .navibar {
        width: 100%;
        z-index: 1001;

        .container-fluid {
            padding: .7rem 7rem;
            display: flex;

            .back-arrow {
                position: relative;
                right: 3rem;
                cursor: pointer;
            }

            .brand-name {
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: 8px;
                cursor: pointer;
            }

            .signout {
                position: relative;
                left: 65%;
                bottom: 6px;

                .profile {
                    margin-right: 2rem;
                    font-size: 17px;
                    font-family: sans-serif;
                    border: 1px solid darkcyan;
                    padding: 14px;
                    top: 2px;
                    position: relative;
                    background: rgba(10,43,72,.9);
                    background: rgba(10, 43, 72, 0.9);
                    border-radius: 5px;
                    cursor: pointer;

                    .profile-name {
                        margin-left: .5rem;
                    }
                }

                .signout-btn {
                    color: azure;
                    border: 2px solid azure;
                }
            }
        }
    }
}